<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="RFC文档，RFC中文，RFC翻译，中文版RFC，中文RFC" />
  <meta name="description" content="本站致力提供全量RFC以及草案的中文翻译文档，文档采用机器翻译，供参考。翻译结果持续更新中，网站非盈利，本人尽力提供服务" />
  <title>RFC中文目录</title>

  <%include file="head.html" />
</head>
<body>
  <%include file="header.html" />

  <div style="height: 1ex;"></div> <!-- spacing -->

  <div class="jump-to-original-rfc-container">
    <a href="https://tools.ietf.org/rfc/index">
      <button type="button" class="btn btn-light btn-sm">
        <span class="jump-to-original-rfc">Orig</span>
      </button>
    </a>
  </div>

  <div class="container">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">RFC自动翻译文档的页面列表</h4>
      <ul>
        <li>我们不保证翻译的准确性。 请务必将其与英文文本进行对照阅读。</li>
        <li>在极少数情况下，部分原文会被省略，因此请务必从右上角的“Orig”链接到原文阅读原文。</li>
        <li>当一个图形或表格跨越多个页面时，或者当它们之间有空白行时，有可能翻译不准确。</li>
        <li>关于翻译，由于 RFC 版权限制，仅发布 RFC 2220 或更高版本。</li>
        <li>使用 Ctrl + F 搜索RFC编号，快速定位到所需的网页。</li>
      </ul>
    </div>

    <div style="height: 1ex;"></div> <!-- spacing -->

    <div id="RFCs" class="list-group list-group-flush">
      % for filenum, filename, title in ctx['files']:
      <a href="${filename | h}" class="list-group-item list-group-item-action">
        ${title}
      </a>
      % endfor
    </div>
    <div align=center><a href="http://beian.miit.gov.cn/"; target=_blank>蜀ICP备2021029430号</a></div>
  </div>
</body>
</html>
